<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
              <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Participants</span> <span class="menu-arrow"></span></a>
                        <ul>

                           <li><a href="{% url 'add_student' %}">Add Participant</a></li>
                           <li><a href="{% url 'view_student' %}">View Participant</a></li>
                        </ul>
                     </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                  <li><a href="{% url 'view_staff' %}">View Staff</a></li>
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="fas fa-building"></i> <span> Department</span> <span class="menu-arrow"></span></a>
                  <ul>
                  <li><a href="{% url 'add_department' %}">Add Department</a></li>
                  <li><a href="{% url 'view_department' %}">View Department</a></li>
                  </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_subject' %}">Add Subject </a></li>
                  <li><a href="{% url 'hod_view_subject' %}">View Subject</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fa fa-calendar"></i> <span> Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_session' %}">Add Session</a></li>
                  <li><a href="{% url 'view_session' %}">View Session</a></li>
               </ul>
            </li>
            <li>
               <a href="{% url 'staff_send_notification' %}"><i class="fa fa-bell"></i> <span>Send Staff Notification</span></a>
            </li>
            <li>
               <a href="{% url 'participant_send_notification' %}"><i class="fa fa-bell"></i> <span>Send Participant Notification</span></a>
            </li>
            <li>
               <a href="{% url 'hod_view_attendance' %}"><i class="fa fa-calendar"></i> <span>View Attendance</span></a>
            </li>
            <li>
               <a href="{% url 'staff_leave_view' %}"><i class="fas fa-solid fa-envelope"></i> <span>Staff Leave</span></a>
            </li>
            <li>
               <a href="{% url 'participant_leave_view' %}"><i class="fas fa-solid fa-envelope"></i> <span>Participant Leave</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
            </li>

         </ul>
         {% elif user.user_type == '2' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
              <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> <span>HOME</span></a>
                     </li>
            <li>
               <a href="{% url 'staff_take_attendance' %}"><i class="fa fa-calendar"></i> <span>Take attendance</span></a>
            </li>
            <li>
               <a href="{% url 'staff_view_attendance' %}"><i class="fa fa-calendar"></i> <span>View attendance</span></a>
            </li>
            <li>
               <a href="{% url 'staff_view_subject' %}"><i class="fa fa-calendar"></i> <span>View Subjects</span></a>
            </li>
            <li>
               <a href="{% url 'apply_leave' %}"><i class="fas fa-solid fa-envelope"></i> <span>Apply for leave</span></a>
            </li>
            <li>
               <a href="{% url 'staff_notifications' %}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
            </li>

         </ul>
         {% else %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
              <a href="{% url 'participant_home' %}"><i class="fas fa-holly-berry"></i> <span>HOME</span></a>
            </li>
            <li>
               <a href="{% url 'view_attendance' %}"><i class="fa fa-calendar"></i> <span>View attendance</span></a>
            </li>
            <li>
               <a href="{% url 'view_subject' %}"><i class="fas fa-poll-h"></i> <span>View Subjects</span></a>
            </li>
            <li>
               <a href="{% url 'part_apply_leave' %}"><i class="fas fa-solid fa-envelope"></i> <span>Apply for leave</span></a>
            </li>
            <li>
               <a href="{% url 'participant_notifications' %}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
            </li>

         </ul>

         {% endif %}

      </div>
   </div>
</div>