{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Participant Send Notification</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Participant Send Notification</li>
            </ul>
             <div class="col-auto text-right float-right ml-auto">
         </div>
         </div>
         {% include 'includes/messages.html' %}
         <div class="col-auto text-right float-right ml-auto">
         </div>
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Name</th>
                           <th>Email</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in participant %}
                        <tr>
                           <td>{{ i.id }}</td>
                           <td>
                              <h2 class="table-avatar">
                                 <a href="student-details.html" class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" src="/{{ i.admin.profile_pic }}" alt="User Image">
                                 </a>
                                 <a href="student-details.html">{{ i.admin.first_name }}&nbsp;{{ i.admin.last_name }}</a>
                              </h2>
                           </td>
                           <td>{{ i.admin.email }}</td>
                           <td class="text-right">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal{{ i.admin.id }}">Send Notification</button>
                           </td>
                            <td class="text-right">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2{{ i.admin.id }}">View All Notifications</button>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% for i in participant %}
<!-- The Modal -->
<div class="modal" id="myModal{{ i.admin.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Send Notification</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{% url 'participant_save_notification' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <input type="text" class="form-control" name="message" placeholder="Enter your message">
          <input type="text" class="form-control" name="participant_id" value="{{ i.admin.id }}" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% for i in participant %}
<!-- The Modal -->
<div class="modal" id="myModal2{{ i.admin.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">See Notifications for {{ i.admin.first_name }} {{ i.admin.last_name }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table id="table" class="table table-hover table-center mb-0">
          <thead>
            <tr>
              <th>Message</th>
              <th class="text-right">Statut</th>
            </tr>
          </thead>
          <tbody>
  {% for notification in notifications %}
    <tr>
      <td>{{ notification.message }}</td>
      {% if notification.status == 0 %}
        <td><span class="badge badge-info">Delivered</span></td>
      {% else %}
        <td><span class="badge badge-success">Seen</span></td>
      {% endif %}
    </tr>
  {% endfor %}
</tbody>

        </table>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
